<div class="container-fluid">
        <div id="home" class="row align-items-center hero">
            <div class="col-6 offset-2">
                <h1>Cerveceria X!</h1>
                <p>Bienvenidos a la mejor cerveceria de Argentina.</p>
                <p>Como no somos los unicos, decidimos ser los mejores</p>
            </div>
        </div>
    </div>


    <div class="row my-3">
        <div id="novedades" class="col-md-5 offset-md-2 col-xs-12 offset-1 scroll_section">
            <h2>Novedades</h2>
            <ul class="lista-novedades">
                {{#each novedades}}
                <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal{{id}}"><img
                            src="img/novedades01.jpg">{{titulo}}</a></li>
                {{/each}}
            
            </ul>
        </div><!--cierra novedades-->
        <!--modal-->

        <!-- Modal -->
        {{#each novedades}}
        <div class="modal fade" id="exampleModal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">{{titulo}}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h3>{{subtitulo}}</h3>
                        <p>{{cuerpo}}</p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        <!--Fin modal-->



        <div class="col-md-3 my-3">
            <div class="rounded py-5 testimonios">
                <h2 class="text-center">Testimonios</h2>
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="testimonio">
                                <h5>"la mejor birra del mundo!!</h5>
                                <p>francisco, monte grande</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="testimonio">
                                <h5>"la mejor birra del mundo!!</h5>
                                <p>francisco, monte grande</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="testimonio">
                                <h5>"la mejor birra del mundo!!</h5>
                                <p>julian piccoli</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div><!--fin fila novedades y testimonios-->


    <!--Inicio historia-->
    <div id="historia" class="row align-items-center py-4">
        <div class="col-lg-2 col-md-3 offset-lg-2 d-none d-sm-block">
            <img src="img/historia_1.jpg" alt="historia 1" class="img-fluid">
        </div>
        <div class="col-lg-2 col-md-3 d-none d-sm-block">
            <img src="img/historia_2.jpg" alt="historia 2" class="img-fluid">
        </div>
        <div class="col-12 d-sm-none">
            <img src="img/historia_3.jpg" alt="historia 3" class="img-fluid">
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
            <h2>Historia</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus, accusantium! Necessitatibus et iure
                dolorem magni aliquam molestias quas unde eos. Ratione, sunt. Eius, aspernatur laudantium ut fugit
                impedit alias nesciunt!</p>
        </div>
    </div>
    <!--Fin historia-->



    <!--inicio staff-->
    <div id="nosotros" class="row align-items-stretch my-3 staff py-4 scroll_section2">
        <div class="col-lg-8 offset-lg-2">
            <h2>Nosotros</h2>
            <div class="row row-cols-2 row-cols-md-4 g-4">
                <div class="col">
                    <div class="card">
                        <img src="img/nosotros01.jpg" class="card-img-top" alt="Diana">
                        <div class="card-body">
                            <h5 class="card-title">Diana Reyes</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to
                                additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <img src="img/nosotros02.jpg" class="card-img-top" alt="Diana">
                        <div class="card-body">
                            <h5 class="card-title">Diana Reyes</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to
                                additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <img src="img/nosotros03.jpg" class="card-img-top" alt="Diana">
                        <div class="card-body">
                            <h5 class="card-title">Diana Reyes</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to
                                additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <img src="img/nosotros04.jpg" class="card-img-top" alt="Diana">
                        <div class="card-body">
                            <h5 class="card-title">Diana Reyes</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to
                                additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div><!--fin staff-->

    <!--conocenos-->
    <div id="conocenos" class="row py-4 scroll_section">
        <div class="col-md-4 offset-md-2 ">
            <h2>Visitanos</h2>
            <div class="mapa">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3398.1571938964616!2d-60.6693425!3d-31.602152200000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b500abd5e5fd3f%3A0xc8c5ea91d8a925a4!2sAyacucho%20482%2C%20S3004BGI%20Santa%20Fe%20de%20la%20Vera%20Cruz%2C%20Santa%20Fe!5e0!3m2!1ses!2sar!4v1717600084778!5m2!1ses!2sar"></iframe>
            </div>
        </div>



        <div class="col-md-4 mt-4 mt-sm-0">
            <h2>Contactanos</h2>
            <form action="/" method="post">
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre">
                    </div>

                    <div class="col-md-6">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="apellido" name="apellido">
                    </div>
                    <div class="col-12">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email">
                        <div id="emailHelp" class="form-text">Nunca compartiremos su correo electrónico con nadie más.
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="mensaje" class="form-label">Mensaje</label>
                        <textarea class="form-control" id="mensaje" name="mensaje" rows="1"></textarea>

                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" name="check">
                            <label class="form-check-label" for="exampleCheck1">Desea recibir informacion sobre el
                                producto</label>
                        </div>
                        <div class="col-12 ">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
            </form>
            {{message}}

        </div>

    </div>

    <!--fin conocenos-->
